<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataConnect.Properties.Settings.CPITQLHSBanTru2018ConnectionString"
            connectionString="Data Source=42.112.20.82;Initial Catalog=CPITQLHSBanTru2018;Persist Security Info=True;User ID=CPITQLHSBanTru;Password=BanTru@2018"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>